@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --full-height: 100dvh;
  --box-size: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

/* ios - svg width/height 100% 대응*/
svg {
  width: inherit;
  height: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .box-sizing {
    box-sizing: var(--box-size);
  }

  .full-height {
    height: 100dvh;
  }

  .full-height-ios {
    height: -webkit-fill-available;
  }

  .height {
    height: calc(90vh - 40px);
  }

  .ellipsis {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .multiline-2,
  .multiline-3 {
    width: inherit;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }

  /* sr-only 클래스로 대체 가능 */
  .a11yHidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }

  .scroller {
    --scrollbar-color-thumb: var(--color-base-cool-neutral-60);
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 4px;
    --scrollbar-height-legacy: 4px;
  }

  /* Modern browsers with `scrollbar-*` support */
  @supports (scrollbar-width: auto) {
    .scroller {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
      scrollbar-width: var(--scrollbar-width);
    }
  }

  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  @supports selector(::-webkit-scrollbar) {
    .scroller::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-thumb);
    }
    .scroller::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
    }
    .scroller::-webkit-scrollbar {
      max-width: var(--scrollbar-width-legacy);
      max-height: var(--scrollbar-width-legacy);
    }
  }
}

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-b from-cool-neutral-5 to-[#253047];
  }
}
